{% extends 'base2.html'%} {% block content %}
<style>
  p {
    font-size: 40px;
    color: white;
  }
  
  h1{
    color: white;
  }
</style>
<h1>Car Collector</h1>

<p>
  We are a couple of passionate car enthusiast individuals and want to share our
  passion of collecting cars in real life to the Online world!<br />
  In here we can all share our love and passion for the “voiture” culture by
  collecting our cars that we have, our dream cars, or in the near future
  cars!<br />
  We can also see our vehicles stats and or customize them to fit our personal
  builds!
</p>
{% if user.is_authenticated %}
<a href="{% url 'index' %}">
<button class="btn-large amber">View Collection</button>
</a>
{% else %}
<a href="{% url 'login' %}">
<button class="btn-large amber">Get Started!</button>
</a>
{% endif %}

{% endblock %}
