body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(images/nightrace.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

main {
    flex: 1 0 auto;
}